

header, footer {
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #FF6600;
}

h1 {
    text-align: center;
}

.fa-cart-shopping {
    color: green;
    font-size: 40px;
}


#products-area {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    background-color: purple;
    justify-items: center;
}
.product-section {
    background-color: aliceblue;

}
.product-card {
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 10px;
    border: solid 5px black;
    border-radius: 10px;
    align-items: center;
}

.product-details {
  justify-self: center;
}

img {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  
}
button {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    width: 150px;

}

.size-button {
    background-color: #FF6600;
    width: 50px;
}
.cart {
    position: relative;
    display: inline-block;
}

  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF6600;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
  }