

header  {
    background-color: rgb(43, 216, 144);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
    font-weight: bolder;
padding: 10px;
padding-top: 20px;

}
.logo {
    font-size: 4rem;

}


a {
    text-decoration: none;

    color: #176977;
}

h1 {
    text-align: center;
}

.fa-cart-shopping {
    color: #0b3313;
    font-size: 40px;
}


#products-area, .products-section {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    background-color: rgb(244, 248, 248);
    justify-items: center;
 
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 222, 222);
    margin: 30px;
    border: solid 3px rgb(78, 77, 77);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    box-shadow: 10px 5px 5px rgb(218, 210, 210);
  
}

.product-details {
  justify-self: center;
}


img {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  
}
button {
    background-color: rgb(37, 192, 197);
    color: rgb(3, 14, 24);
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    margin: 5px;
     box-shadow: 5px 5px 5px rgb(99, 95, 95);

}

.size-button {
    background-color: #bbb4b0;
    width: 50px;
}
.cart {
    position: relative;
    display: inline-block;
   
}

  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b3313;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
  }

  .checkout-page {
     background-color: rgb(244, 248, 248);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav-bar, footer  {
    background-color: #176977;
    text-align: left;
    font-size: 22px;
    position: relative;
    padding: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
  
  }

  .nav-bar a, footer a {

 color: rgb(43, 216, 144);
 text-align: left;

  }

Toast

  .toast-container {
  position: fixed;
 }

 .toast {
  padding: 15px 20px;
  color: #176977;
  font-family: sans-serif;
  font-weight: bold;

}

.toast.success {
  background-color:  rgb(43, 216, 144);
}

.toast.error {
  background-color: #79111c;
}
